<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/14df2288-44eb-494d-b393-7b8fcccfcc5e/resourcegroups/IDDA/providers/Microsoft.Web/sites/adminms</ResourceId>
    <ResourceGroup>IDDA</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://adminms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0e114195-b812-4325-bbe4-05d4414272c5</ProjectGuid>
    <PublishUrl>https://adminms.scm.azurewebsites.net/</PublishUrl>
    <UserName>$adminms</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>